/* CUSTOM CSS SPECIFIED BY CUSTOMER */
:root {
    /* FONTS */
    --heading: "pretty_lilyregular";
    --regular: "Arial";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;
}

/* FONT IMPLEMENTATION */
@font-face {
    font-family: pretty_lilyregular;
    src: url(pretty_lily-webfont.woff);
}

.lily {
    font-family: var(--heading);
}

.white-lily {
    font-family: var(--heading);
    color: var(--white);
}

.green-lily {
    font-family: var(--heading);
    color: var(--darker-green);
}

.red-white-lily {
    font-family: var(--heading);
    background-color: var(--lighter-red);
    color: var(--white);
}

div {
    font-family: var(--regular);
    /* border: 1px solid #000; */
}

p {
    font-size: 14px;
}

p.text-truncate-3 {
    -webkit-line-clamp: 3;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* MAIN MENU BUTTON STYLING */
.btn-menu {
    font-size: 48px;
    color: var(--darker-orange);
    background-color: rgba(255, 255, 255, 0);
}

.btn-menu-position {
    position: absolute;
    top: 24px;
    right: 48px;
    z-index: 2;
}

.header-logo {
    position: absolute;
    top: 48px;
    left: 48px;
    z-index: 2;
}

/* AGENDA BLOCK STYLING */
div.agenda {
    height: 700px;
    background-color: var(--lighter-green);
}

/* LOG BLOCK STYLING */
div.log-block {
    min-height: 300px;
    background-color: var(--darker-red);
}

/* RECIPE PAGE STYLING */
div.recipe-card {
    width: 45%;
}

.btn-card {
    background-color: rgba(255, 255, 255, 0);
}

i.red {
    color: var(--lighter-red);
}

.rp-page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--black);
    text-decoration: none;
    background-color: var(--white);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.rp-active > .rp-page-link {
    z-index: 3;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
}

/* RECIPE DETAIL STYLING */
.detail-main {
    width: 100%;
    height: 500px;
}

.detail-image-container {
    width: auto; /* Set desired width */
    height: 100%; /* Set desired height */
    overflow: hidden; /* Hide overflow */
}
  
.detail-image-container > .detail-image {
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container */
    object-position: center; /* Center the image */
}

.detail-tab {
    width: 100%;
    height: 500px;
}

div.ps-number {
    width: 50px;
    height: 50px;
    color: var(--white);
    background-color: var(--lighter-orange);
}

/* FOOTER BLOCK STYLING */
div.footer-custom {
    color: var(--white);
    background-color: var(--lighter-orange);
    height: 14rem;
}

/* FOOTER FIX */
div.page-container {
    position: relative;
    min-height: 100vh;
}

div.content-wrap {
    padding-bottom: 14rem;
}

footer.footer-position {
    position: absolute;
    bottom: 0;
}

/* FORM CLASSES */
form.login-class {
    color: var(--white);
    font-size: 12px;
}

input.submit-login {
    background-color: var(--lighter-orange);
    border: none;
    text-align: center;
    font-size: 36px;
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 12px;
}

form.search-class {
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 128px;
}

form.register-class {
    color: var(--darker-green);
    font-size: 26px;
}

input.submit-register {
    background-color: var(--lighter-orange);
    border: none;
    text-align: center;
    font-size: 40px;
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 12px;
}

input.submit-recipe {
    background-color: var(--lighter-orange);
    border: none;
    text-align: center;
    font-size: 40px;
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 12px;
}

button.minor-button {
    background-color: var(--darker-green);
    border: none;
    text-align: center;
    font-size: 24px;
    width: 25%;
    border-radius: 12px;
}

h2.form_subtitle {
    font-size: 24px;
}
