/* CUSTOM CSS SPECIFIED BY CUSTOMER */
:root {
    /* FONTS */
    --heading: "pretty_lilyregular";
    --regular: "Arial";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;
}

/* FONT IMPLEMENTATION */
@font-face {
    font-family: pretty_lilyregular;
    src: url(pretty_lily-webfont.woff);
}

.lily {
    font-family: var(--heading);
}

div {
    font-family: var(--regular);
}

p {
    font-size: 14px;
}

/* MAIN MENU BUTTON STYLING */
.btn-menu {
    font-size: 48px;
    color: var(--darker-orange);
    background-color: rgba(255, 255, 255, 0);
}

.btn-menu-position {
    position: absolute;
    top: 24px;
    right: 48px;
    z-index: 2;
}

.header-logo {
    position: absolute;
    top: 48px;
    left: 48px;
    z-index: 2;
}

/* AGENDAG BLOCK STYLING */
div.agenda {
    width: 25%;
    background-color: var(--lighter-green);
}

/* FOOTER FIX */
div.page-container {
    position: relative;
    min-height: 100vh;
}

div.content-wrap {
    padding-bottom: 14rem;
}

footer.footer-custom {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    height: 14rem;
    background-color: var(--lighter-orange);
}
